# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

code/day-2/client-server-over-grpc/src/**/Makefile.in
code/day-2/client-server-over-grpc/src/aclocal.m4
code/day-2/client-server-over-grpc/src/ar-lib
code/day-2/client-server-over-grpc/src/autom4te.cache/
code/day-2/client-server-over-grpc/src/build/Makefile
code/day-2/client-server-over-grpc/src/build/client/
code/day-2/client-server-over-grpc/src/build/config.log
code/day-2/client-server-over-grpc/src/build/config.status
code/day-2/client-server-over-grpc/src/build/include/
code/day-2/client-server-over-grpc/src/build/libtool
code/day-2/client-server-over-grpc/src/build/server/
code/day-2/client-server-over-grpc/src/build/tools/
code/day-2/client-server-over-grpc/src/compile
code/day-2/client-server-over-grpc/src/config.guess
code/day-2/client-server-over-grpc/src/config.sub
code/day-2/client-server-over-grpc/src/configure
code/day-2/client-server-over-grpc/src/configure~
code/day-2/client-server-over-grpc/src/depcomp
code/day-2/client-server-over-grpc/src/include/csgrpc-config.h.in
code/day-2/client-server-over-grpc/src/include/csgrpc-config.h.in~
code/day-2/client-server-over-grpc/src/install-sh
code/day-2/client-server-over-grpc/src/ltmain.sh
code/day-2/client-server-over-grpc/src/m4/
code/day-2/client-server-over-grpc/src/missing
